DEBUG=True
SECRET_KEY=replace-me-with-a-long-random-secret-key
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0
USE_SQLITE=False
POSTGRES_DB=bookstore
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
REDIS_URL=redis://redis:6379/0
